body{
    background-image: url("back.jpg");
    background-size: 1800px 1600px;
    color: black;
}
table{
    border-collapse: collapse;
    min-width: 20%;
}
td, th {
    border: 1px solid black;
    margin: 0;
    padding: 0.25em;
}

label{
    display: block;

}

label span{
    display: inline-block;
    width: 8em;
}