<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>To-Do List</title>

    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>

</head>
<body>

<nav>
    <ul>
        <li style="color:white"><a href="index.html" style="color:white" th:href="@{/}">Home</a></li>
        <li style="color:white"><a href="listForm.html" style="color:white" th:href="@{/listForm}">Add Task</a></li>
    </ul>
</nav>

<h1>To-Do List</h1>

<form action="index.html" th:action="@{/}" method="get">
    <label>
        <span>Search for a task:</span>
        <input type="text" name="search" value="" th:value="${search}"/>
    </label>
    <button>Search</button>
</form>

<p>Showing <span th:text="${tasks.size()}">2</span> task(s).</p>

<table>
    <tr>
    <tr>
        <th>
            <a href="index.html" style="color:white" th:href="@{/}" title="Sort by task name">Task name</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="index.html" style="color:white" th:href="@{/}" title="Sort by task details">Task details</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="index.html" style="color:white" th:href="@{/}" title="Sort by task priority (0=low, 5=high)">Task
                priority</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="index.html" style="color:white" th:href="@{/}" title="Sort by task due date (yyyy-mm-dd)">Task due
                date</a>
        </th>
    </tr>
    <tr>
        <th>
            <a href="index.html" style="color:white" th:href="@{/}" title="Sort by task completed ">Task completed
                (y/n)</a>
        </th>
    </tr>
    </tr>
    <tr th:each="task : ${tasks}">
        <tr>
        <td th:text="${task.getTaskName()}">Laundry</td>
</tr>
    <tr>
        <td th:text="${task.getDetails()}">Wash, fold, and put away laundry</td>
    </tr>
    <tr>
        <td th:text="${task.getPriority()}">2 - Medium</td>
    </tr>
    <tr>
        <td th:text="${task.getDueDate()}">2017/04/17</td>
    </tr>
    <tr>
        <td th:text="${task.getCompleted()}">no</td>
    </tr>
    <tr>
        <td><a href="listForm.html" th:href="@{'/listForm?taskId='} + ${task.getId()}">Edit</a></td>
    </tr>
    </tr>

</table>

</body>
</html>