<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>To-Do List Task Page</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>

</head>
<body>
<nav>
    <ul>
        <li><a href="index.html" th:href="@{/}">Home</a></li>
        <li><a href="listForm.html" th:href="@{/listForm}">Add Task</a></li>
    </ul>
</nav>

<h1>Add/Edit Task</h1>

<p>Please enter information below to <span>add/edit</span> a task.</p>

<form action="index.html" th:action="@{/saveTask}" method="post" th:object="${task}">
    <label>

        <span>Task name:</span>
        <input type="text" name="taskName" value="" th:value="*{taskName}"/>
        <ul class="error"><li th:each="err : ${#fields.errors('taskName')}" th:text="${err}">Error!</li></ul>
    </label>

    <label>
        <span>Task details and/or notes:</span>
        <input type="text" name="details" value="" th:value="*{details}" />
        <ul class="error"><li th:each="err : ${#fields.errors('details')}" th:text="${err}">Error!</li></ul>

    </label>

    <label>
        <span>Task Priority:</span>
        <!--<input type="text" name="priority" value="" th:value="*{priority}"/>-->
        <select name ="priority" th:field="*{priority}">
            <option label=" " value=""></option>
            <option value ="1">1</option>
            <option value ="2">2</option>
            <option value ="3">3</option>
            <option value ="4">4</option>
            <option value ="5">5</option>
        </select>
        <ul class="error"><li th:each="err : ${#fields.errors('priority')}" th:text="${err}">Error!</li></ul>

    </label>

    <label>
        <span>Task due date:</span>
        <input type="date" name="dueDate" value="" th:value="*{dueDate}" />
        <ul class="error"><li th:each="err : ${#fields.errors('dueDate')}" th:text="${err}">Error!</li></ul>

    </label>

    <label>
        <span>Task Completed: True/False</span>
        <!--<input type="text"  name="completed" th:value="true" value="true" />-->
        <select name ="completed" th:field="*{completed}">
            <option label=" " value="false"></option>
            <option value ="true">True</option>
            <option value ="false">False</option>
        </select>
        <ul class="error"><li th:each="err : ${#fields.errors('completed')}" th:text="${err}">Error!</li></ul>




    </label>

    <input type="hidden" name="id" value="" th:value="*{id}"  />

    <button>Save Task</button>
    <a class="delete" onclick="return confirm('Are you sure you want to delete this item?');" th:href="@{'/deletetask?id='+${task.id}}">delete</a>

</form>

<h1>To-Do Lists</h1>

<ul th:each="toDoList : ${toDoLists}">
    <li th:text="${toDoList.getName()}">To-Do List</li>
</ul>
<div th:text="${toDoLists}"></div>


</body>
</html>