<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>To-Do List Task Page</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}"/>

</head>
<body>
<nav>
    <ul>
        <li><a href="index.html" th:href="@{/}">Home</a></li>
        <li><a href="listForm.html" th:href="@{/listForm}">Add Task</a></li>
    </ul>
</nav>

<h1>Add/Edit Task</h1>

<p>Please enter information below to <span>add/edit</span> a task.</p>

<form action="index.html" th:action="@{/saveTask}" method="post" th:object="${task}">
    <label>

        <span>Task name:</span>
        <input type="text" name="taskName" value="" th:value="*{taskName}"/>
    </label>

    <label>
        <span>Task details and/or notes:</span>
        <input type="text" name="details" value="" th:value="*{details}" />
    </label>

    <label>
        <span>Task Priority:</span>
        <input type="text" name="priority" value="" th:value="*{priority}"/>
    </label>

    <label>
        <span>Task due date:</span>
        <input type="date" name="dueDate" value="" th:value="*{dueDate}" />
    </label>

    <label>
        <span>Task Completed: y/n</span>
        <!--<input type="text"  name="completed" th:value="true" value="true" />-->
        <select name ="completed">
            <option label=" "></option>
            <option value ="true">Y</option>
            <option value ="false">N</option>
        </select>



    </label>

    <input type="hidden" name="id" value="" th:value="*{id}"  />

    <button>Save Task</button>
</form>

<h1>To-Do Lists</h1>

<ul th:each="toDoList : ${toDoLists}">
    <li th:text="${toDoList.getName()}">To-Do List</li>
</ul>
<div th:text="${toDoLists}"></div>


</body>
</html>